numpy==1.26.4
jsonlines==4.0.0
torch==2.10.0
transformers==4.44.0
torchaudio==2.10.0
accelerate==1.7.0
peft==0.17.0
librosa
tensorboardX>=2.5
# torch_npu==2.1.0.post8
tqdm
absl-py
psutil
cloudpickle
ml-dtypes
tornado
openai-whisper
colorama
sox
deepspeed
librosa
gxl_ai_utils


hyperpyyaml
modelscope
onnxruntime
inflect
omegaconf
conformer
diffusers
hydra-core
lightning

gradio
cn2an
gdown
matplotlib
wget
pyarrow
pyworld